<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
{% load static %}

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'assets/img/logo-removebg-preview.png' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="{% static 'index-2.html' %}" />
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <title>Enkryptia</title>
    <script defer="defer" src="{% static 'js/main.005e037c.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/main.2705007e.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
    <style>
        .footer {
            background: linear-gradient(135deg, #9050f0, #791e8f, #e91c53);

            color: white;
            padding: 40px 0;
        }

        .footer h5 {
            margin-bottom: 20px;
            font-weight: bold;
        }

        .footer a {
            text-decoration: none;
        }

        .footer a:hover {
            text-decoration: underline;
            color: #61dafb;
            /* Lighter hover color */
        }

        .service-link {
            cursor: pointer;
        }

        .service-link:hover {
            color: #61dafb;
            /* Change color on hover */
        }

        .social-links {
            margin-top: 20px;
        }

        .social-icon {
            font-size: 24px;
            margin: 0 15px;
            color: white;
            transition: transform 0.3s, color 0.3s;
            /* Transition effect */
        }

        .social-icon:hover {
            transform: scale(1.2);
            /* Scale up on hover */
            color: #61dafb;
            /* Change color on hover */
        }

        .creator-links {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 15px;
        }

        .creator {
            margin: 0 15px;
            font-weight: 500;
            transition: color 0.3s;
        }

        .creator:hover {
            color: #61dafb;
            /* Change color on hover */
        }

        .footer-bottom {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            padding-top: 20px;
            margin-top: 20px;
        }

        .button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .glass-btn {
            width: 60px;
            height: 60px;
            /* background-color: #fafafa; */
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
            margin-left: 1em;
            margin-right: 1em;
            cursor: pointer;
            transition: all 0.3s;

            &.blue-btn {
                -webkit-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
                -moz-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
                box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);

                &:hover {
                    -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
                    -moz-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
                    box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
                }

                .content {
                    font-size: 4em;
                    font-family: "Roboto", sans-serif;
                    background: linear-gradient(to right, #006fff, #00acff 70%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8);
                }
            }

            &.red-btn {
                -webkit-box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);
                -moz-box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);
                box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);

                &:hover {
                    -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
                    -moz-box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
                    box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
                }

                .content {
                    font-size: 4em;
                    font-family: "Roboto", sans-serif;
                    background: linear-gradient(to right, #ff1027, #ff4f06 70%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: 0px 10px 37px rgba(255, 16, 39, 0.6);
                }
            }

            &.amber-btn {
                -webkit-box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
                -moz-box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
                box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);

                &:hover {
                    -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
                    -moz-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
                    box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
                }

                .content {
                    font-size: 4em;
                    font-family: "Roboto", sans-serif;
                    background: linear-gradient(to right, #ff8d00, #f7ad07 70%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: 0px 10px 37px rgba(255, 94, 16, 0.7);
                }
            }

            &:hover {
                background-color: darken(#fafafa, 2%);
                transform: translateY(-5px);
                transition: all 0.3s;
            }
        }

        .service-link {
            color: rgb(162, 196, 247) !important;
            transition: 0.3s ease;
        }

        .service-link:hover {
            color: rgb(255, 255, 255) !important;
            transition: 0.3s ease;

        }

        .meet-timing {
            text-decoration: underline;
            /* color: white; */
            font-size: 23px;
        }

        .meet-timing:hover {
            color: white !important;
        }

        .for-media {
            font-size: 5rem !important;
            margin-bottom: 30px !important;
            color: #46afeb !important;
        }

        @media (max-width: 768px) {
            .for-media {
                font-size: 3rem !important;
            }
        }

        .footer-btn {
            background-color: white;
            color: black;
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            padding: 10px 20px;
            border: 2px solid black;
            cursor: pointer;
            transition: background-color 0.3s ease;
            min-width: 200px;
        }

        .ntx-bck {
            min-width: 100px;
            height: 100%;
            background-color: #00acff;
            color: white;
        }

        .footer-btn:hover {
            background-color: #f0f0f0;
        }

        .ntx-bck:hover {
            background-color: #010818;
        }

        .text {
            width: 100%;
        }
    </style>
    <script>
        let numb;
        let currentImageIndex = 1;
        let totalImages;
        let src, ext;

        function updateBannerImage() {
            const bannerImage = document.getElementById('bannerImage');

            if (numb == 1) {
                bannerImage.src = `{% static 'assets/img/hack/${currentImageIndex}.${ext}' %}`;
                bannerImage.classList.remove('added-rule');
                const ruleBook = document.getElementById('extra-class');
                ruleBook.classList.remove('extra-class');
            }
            else {
                bannerImage.src = `{% static 'assets/img/MUN/${currentImageIndex}.${ext}' %}`;
            }
        }
        function nxtBtn() {
            currentImageIndex++;
            if (currentImageIndex > totalImages) {
                currentImageIndex = 1; // Loop back to the first image if at the end
            }
            updateBannerImage();
        };

        // Back button event
        function bckBtn() {
            currentImageIndex--;
            if (currentImageIndex < 1) {
                currentImageIndex = totalImages; // Loop back to the last image if at the start
            }
            updateBannerImage();
        };

        function handle(num) {
            numb = num;
            num == 1 ? totalImages = 5 : totalImages = 7; // Starting image index
            num == 1 ? src = `{% static 'assets/img/hack/` : src = `{% static 'assets/img/MUN/`;
            num == 1 ? ext = `png` : ext = 'jpg';

            // Change the image source when clicking next or back
            // Next button event
            // Optional: handle download rulebook or view timeline if needed
        }

        function timelinView() {
            attributeSet = parseInt(document.getElementById('timelineBtn').getAttribute('data'));
            console.log(attributeSet)
            primary_crowd(attributeSet, false)
        }

        document.addEventListener('DOMContentLoaded', function () {
            const tiles = document.querySelectorAll('.cardPostId');
            tiles.forEach(tile => {
                tile.addEventListener('click', () => {
                    // Loop through each tile and remove 'another-class' from all tiles
                    tiles.forEach(tiler => {
                        tiler.classList.remove('another-class');
                    });

                    // Add 'another-class' only to the clicked tile
                    tile.classList.add('another-class');

                });
            });

        })
        function loadContent(num) {
            const bannerImage = document.getElementById('bannerImage');

            if (num == 1) {

                const bannerInto = document.getElementById('banner-into');
                bannerInto.src = `{% static 'assets/img/Events/encr1.png' %}`;
                bannerImage.src = `{% static 'assets/img/hack/1.png' %}`;
                bannerImage.classList.remove('added-rule');
                const ruleBook = document.getElementById('extra-class');
                ruleBook.classList.remove('extra-class');
                attributeSet = document.getElementById('timelineBtn').setAttribute('data', '1');
                // document.getElementById('downloadBtn').href = "https://drive.google.com/file/d/1GRDvtkAXelWly3cgBPEov_9o2829B-aF/view?usp=drive_link";

                // document.getElementById('downloadBtn').href = "https://drive.google.com/file/d/1JI4MAb52AF9XKU_pioJEz7Q2ywss9Uph/view?usp=drive_link";
                document.getElementById('downloadBtn').addEventListener('click', () => {

                    window.location.href = "https://drive.google.com/file/d/1GRDvtkAXelWly3cgBPEov_9o2829B-aF/view?usp=drive_link";
                });
                handle(num);
            }
            if (num == 2) {
                const bannerInto = document.getElementById('banner-into');
                bannerInto.src = `{% static 'assets/img/Events/encr2.png' %}`;
                bannerImage.src = `{% static 'assets/img/MUN/1.jpg' %}`;
                bannerImage.classList.add('added-rule');
                const ruleBook = document.getElementById('extra-class');
                ruleBook.classList.add('extra-class');
                attributeSet = document.getElementById('timelineBtn').setAttribute('data', '2');
                handle(num);
                document.getElementById('downloadBtn').addEventListener('click', () => {
                    window.location.href = "https://drive.google.com/file/d/1JI4MAb52AF9XKU_pioJEz7Q2ywss9Uph/view?usp=drive_link";
                });

            }
        }

    </script>
</head>

<body>
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <section class="showcase">
                <header>
                    <!-- <a class="navbar-brand me-2" href="/">
            <img class="logo" src="./assets/img/logo-removebg-preview.png" height="50" alt="MDB Logo" loading="lazy"
              style="margin-top: -1px;" />
          </a> -->
                </header>
                <video src="{% static 'media\explore.mp4' %}" muted loop autoplay class="video"></video>
                <div class="overlay"></div>
                <div class="text">
                    <h2 class="for-media">Enkryptia</h2>
                    <h1 class="mb-4 pb-0">The Annual<br><span>Departmental</span> Event</h1>
                    <p class="mb-4 pb-0">24-25 October,<br /> Goverment Polytechnic, Nagpur</p>
                    <a href="https://lu.ma/09lmt81v" class="about-btn scrollto">Hackathon</a>
                    <a href="https://lu.ma/8rqnrunu" class="about-btn scrollto">MUN</a>
                    <div class="below-event"
                        style="background-color: #46afeb; width: 285px; height: 80px; margin-top: 15px; display: flex; justify-content: center; align-items: center;">
                        <a href="#section-eve" class="about-btn scrollto"
                            style="background-color: #46afeb; font-size: 1.5rem; margin-top: -5px;">See More</a>
                    </div>
                </div>
            </section>

            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" href="#">Home</a>
                    <a class="nav-item nav-link" href="#speakers">Events</a>
                    <a class="nav-item nav-link" href="#hero">Hackathon</a>
                </div>
            </div>
        </div>



    </section>

    <section id="about">
        <div class="container position-relative" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6">
                    <h2>About The Event</h2>
                    <p>The core of your event, the hackathon, is a competition where participants, often tech-savvy
                        individuals,
                        work together or individually to create innovative software solutions, often within a limited
                        timeframe.
                        It's a platform for coding enthusiasts to put their skills to the test and develop new,
                        practical
                        applications.</p>
                </div>
                <div class="col-lg-3">
                    <h3>Where</h3>
                    <p>Goverment Polytechnic Nagpur</p>
                </div>
                <div class="col-lg-3">
                    <h3>When</h3>
                    <p>Thursday to Friday<br>24-25 October</p>
                </div>
            </div>
        </div>
    </section>
    <section style="width: 100%; background-color: #0c0c1b;" class="sectio-added" id="section-eve">
        <div class="cvents-holder">
            <div class="writer-board">
                <div class="card-post hackathon-post cardPostId" onclick="loadContent(1)">
                    <img src="https://i0.wp.com/tecknoworks.com/wp-content/uploads/2020/01/hackathon-1.png"
                        class="img-switch"
                        style="-webkit-mask: linear-gradient(0deg, transparent, rgb(14, 200, 216) 100%) !important;"
                        alt="">
                    <h2 class="subscript" style="font-family: 'Times New Roman', Times, serif;">
                        Hackathon</h2>
                </div>
                <div class="card-post MUN-post cardPostId" onclick="loadContent(2)">
                    <img src="https://img.theweek.in/content/dam/week/leisure/society/images/2018/11/1/mun-1.jpg"
                        class="img-switch" alt="">
                    <h2 class="subscript" style="font-family: 'Times New Roman', Times, serif;">MUN</h2>
                </div>
                <div class="card-post GPTL-post cardPostId">
                    <img src="https://i.ytimg.com/vi/x7yudbWlLGw/maxresdefault.jpg" class="img-switch" alt="">
                    <h2 class="subscript" style="font-family: 'Times New Roman', Times, serif;">GPTL</h2>
                </div>
            </div>
            <div class="poster-and-rulebook">
                <div class="banner-holder-bulbul">
                    <img src="{% static 'assets/img/Events/encr1.png' %}" style="" class="banner-into baller"
                        id="banner-into" alt="">
                </div>
                <div class="rulebook-holder">
                    <div class="rulebook-top">
                        <h2 class="anth-samay" style="font-family: 'Times New Roman', Times, serif;">RULEBOOK</h2>
                    </div>
                    <div class="rulebook" id="extra-class">
                        <img src="{% static 'assets\img\hack\1.png' %}" alt="" id="bannerImage"
                            class="banner-into rulebook-dash" alt="Event Banner">
                    </div>
                    <div class="rulebook-footer">
                        <!-- Back Button -->
                        <div class="btn-c">
                            <button id="backBtn" onclick="bckBtn()" class="footer-btn ntx-bck">Back</button>
                            <button id="nextBtn" onclick="nxtBtn()" class="footer-btn ntx-bck">Next</button>
                        </div>


                        <!-- Download Rulebook Button -->
                        <div class="float-righter">
                            <a id="downloadBtn"><button class="footer-btn">Download Rulebook</button></a>

                            <!-- View Timeline Button -->
                            <a href="#root">
                                <button id="timelineBtn" class="footer-btn" data="1" onclick="timelinView()">View
                                    Timeline</button>
                            </a>
                        </div>

                        <!-- Next Button -->
                    </div>
                </div>
            </div>
        </div>
        <script src="../cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
        <script src="../cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>
        <script src="../cdn.jsdelivr.net/npm/vanta/dist/vanta.halo.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    </section>
    <div id="root"></div>
    <section id="clients" class="clients section-bg p-5">
        <div class="container">

            <div class="row" data-aos="zoom-in">
                <h1 style="color:#46afeb;" class="p-2">Sponsors</h1>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center logo">
                    <img src="{% static 'assets/img/clients/client-10.png' %}" class="img-fluid" alt="Client 10">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center logo">
                    <img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt="Client 1">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt="Client 2">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt="Client 4">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt="Client 6">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/clients/client-7.png' %}" class="img-fluid" alt="Client 7">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/clients/client-8.png' %}" class="img-fluid" alt="Client 8">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/clients/learners_den.png' %}" class="img-fluid" alt="Client 8">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt="Client 8">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/clients/clint11.png' %}" style="width: 130px; height: 130px;"
                        class="img-fluid" alt="Client 8">
                </div>
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/clients/Vdas_sponser.png' %}" style="width: 180px; height: 165px;"
                        class="img-fluid" alt="Client 8">
                </div>
            </div>

        </div>
    </section>




    <!-- <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <center>
        <h1 class="eh">Events</h1>
      </center>
      <div class="row portfolio-container container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img"><img src="assets/img/Events/IMG-20231008-WA0020.jpg" class="img-fluid" alt="">
          </div>
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>App</p>
            <a href="assets/img/Events/IMG-20231008-WA0020.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img"><img src="assets/img/Events/IMG-20231008-WA0022.jpg" class="img-fluid" alt="">
          </div>
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a href="assets/img/Events/IMG-20231008-WA0022.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img"><img src="assets/img/Events/IMG-20231008-WA0024.jpg" class="img-fluid" alt="">
          </div>
          <div class="portfolio-info">
            <h4>App 2</h4>
            <p>App</p>
            <a href="assets/img/Events/IMG-20231008-WA0024.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img"><img src="assets/img/Events/IMG-20231008-WA0018.jpg" class="img-fluid" alt="">
          </div>
          <div class="portfolio-info">
            <h4>Card 2</h4>
            <p>Card</p>
            <a href="assets/img/Events/IMG-20231008-WA0018.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>
  </section> -->



    <div class="content" id="content-sec">

        <div class="container ">
            <div class="row mb-5 ">
                <div class="col-12 text-center">
                    <h3 class="eh">Domains</h3>
                </div>
            </div>
        </div>



        <div class="site-section bg-left-half mb-5">
            <div class="container owl-2-style">

                <div class="owl-carousel owl-2">

                    <div class="media-29101">
                        <img src="{% static 'media\images\AI_2.jpeg.jpg' %}" alt="Image" class="img-fluid">
                        <h3><a class="text-light">Artificial Intelligence</a></h3>
                        <p>Dive into the world of intelligent systems and machine learning! Tackle challenges in
                            computer vision, natural language processing, predictive modeling, and more. Bring AI
                            solutions to life and showcase your innovation in automation, decision-making, and data
                            analysis.

                        </p>
                    </div>

                    <div class="media-29101">
                        <img src="{% static 'media\images\CyS_2.jpeg.jpg' %}" alt="Image" class="img-fluid">
                        <h3><a class="text-light">Cybersecurity</a></h3>
                        <p>Test your skills in defending against digital threats! Solve real-world cybersecurity
                            challenges by identifying vulnerabilities, preventing attacks, and securing systems. This is
                            your chance to show expertise in protecting networks, data, and users from evolving cyber
                            threats.</p>
                    </div>

                    <div class="media-29101">
                        <img src="{% static 'media\images\BlockC_1.jpeg.jpg' %}" alt="Image" class="img-fluid">
                        <h3><a class="text-light">Blockchain</a></h3>
                        <p>Explore the future of decentralized technology! Develop blockchain-based solutions for
                            security, transparency, and efficiency. From creating smart contracts to building dApps,
                            this domain offers a platform to revolutionize industries with blockchain innovation.</p>
                    </div>

                    <div class="media-29101">
                        <img src="{% static 'media\images\Webdev_1.jpeg.jpg' %}" alt="Image" class="img-fluid">
                        <h3><a class="text-light">Web Development</a></h3>
                        <p>Push the limits of modern web technologies! Build innovative, responsive, and interactive
                            websites or applications. Whether it’s frontend or backend, showcase your skills in creating
                            dynamic, user-friendly web experiences using the latest frameworks and tools.</p>
                    </div>

                    <div class="media-29101">
                        <img src="{% static 'media\images\CC_2.jpeg.jpg' %}" alt="Image" class="img-fluid">
                        <h3><a class="text-light">Cloud Computing</a></h3>
                        <p>Harness the power of the cloud! Build scalable, secure, and efficient applications using
                            cloud platforms. Whether it’s infrastructure as a service (IaaS), platform as a service
                            (PaaS), or software as a service (SaaS), create solutions that leverage the cloud’s
                            capabilities for businesses and users.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">

                <div class="modal-header">
                    <h4 class="modal-title">Problem Statements</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sr no</th>
                                <th>Problem Statement</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Energy Efficiency in Smart Homes:</td>
                                <td>Develop solutions that optimize energy consumption in smart homes through
                                    intelligent automation, considering factors such as occupancy, weather, and user
                                    preferences.</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Autonomous Vehicle Security:</td>
                                <td>Address the security challenges associated with autonomous vehicles, ensuring robust
                                    protection against cyber threats and unauthorized access.
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Smart City Traffic Management:
                                </td>
                                <td>Propose innovative approaches to optimize traffic flow in smart cities using
                                    automation, real-time data analytics, and intelligent transportation systems.
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Industrial Automation for Sustainability:
                                </td>
                                <td>Implement automation technologies in industries to enhance sustainability practices,
                                    reduce waste, and minimize environmental impact.
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Intelligent Resource Allocation in Agriculture:
                                </td>
                                <td>Develop systems that use artificial intelligence to optimize resource allocation in
                                    agriculture, ensuring efficient use of water, fertilizers, and other inputs.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>


    </div>

    <div class="modal" id="myModal1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">

                <div class="modal-header">
                    <h4 class="modal-title">Problem Statements</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sr no</th>
                                <th>Problem Statement</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Energy Efficiency in Smart Homes:</td>
                                <td>Develop solutions that optimize energy consumption in smart homes through
                                    intelligent automation, considering factors such as occupancy, weather, and user
                                    preferences.</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Autonomous Vehicle Security:</td>
                                <td>Address the security challenges associated with autonomous vehicles, ensuring robust
                                    protection against cyber threats and unauthorized access.
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Smart City Traffic Management:
                                </td>
                                <td>Propose innovative approaches to optimize traffic flow in smart cities using
                                    automation, real-time data analytics, and intelligent transportation systems.
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Industrial Automation for Sustainability:
                                </td>
                                <td>Implement automation technologies in industries to enhance sustainability practices,
                                    reduce waste, and minimize environmental impact.
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Intelligent Resource Allocation in Agriculture:
                                </td>
                                <td>Develop systems that use artificial intelligence to optimize resource allocation in
                                    agriculture, ensuring efficient use of water, fertilizers, and other inputs.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>


    </div>

    <div class="modal" id="myModal2">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">

                <div class="modal-header">
                    <h4 class="modal-title">Problem Statements</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sr no</th>
                                <th>Problem Statement</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Energy Efficiency in Smart Homes:</td>
                                <td>Develop solutions that optimize energy consumption in smart homes through
                                    intelligent automation, considering factors such as occupancy, weather, and user
                                    preferences.</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Autonomous Vehicle Security:</td>
                                <td>Address the security challenges associated with autonomous vehicles, ensuring robust
                                    protection against cyber threats and unauthorized access.
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Smart City Traffic Management:
                                </td>
                                <td>Propose innovative approaches to optimize traffic flow in smart cities using
                                    automation, real-time data analytics, and intelligent transportation systems.
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Industrial Automation for Sustainability:
                                </td>
                                <td>Implement automation technologies in industries to enhance sustainability practices,
                                    reduce waste, and minimize environmental impact.
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Intelligent Resource Allocation in Agriculture:
                                </td>
                                <td>Develop systems that use artificial intelligence to optimize resource allocation in
                                    agriculture, ensuring efficient use of water, fertilizers, and other inputs.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>


    </div>

    <div class="modal" id="myModal3">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">

                <div class="modal-header">
                    <h4 class="modal-title">Problem Statements</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sr no</th>
                                <th>Problem Statement</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Energy Efficiency in Smart Homes:</td>
                                <td>Develop solutions that optimize energy consumption in smart homes through
                                    intelligent automation, considering factors such as occupancy, weather, and user
                                    preferences.</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Autonomous Vehicle Security:</td>
                                <td>Address the security challenges associated with autonomous vehicles, ensuring robust
                                    protection against cyber threats and unauthorized access.
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Smart City Traffic Management:
                                </td>
                                <td>Propose innovative approaches to optimize traffic flow in smart cities using
                                    automation, real-time data analytics, and intelligent transportation systems.
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Industrial Automation for Sustainability:
                                </td>
                                <td>Implement automation technologies in industries to enhance sustainability practices,
                                    reduce waste, and minimize environmental impact.
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Intelligent Resource Allocation in Agriculture:
                                </td>
                                <td>Develop systems that use artificial intelligence to optimize resource allocation in
                                    agriculture, ensuring efficient use of water, fertilizers, and other inputs.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>


    </div>

    <div class="modal" id="myModal4">
        <div class="modal-dialog modal-xl">
            <div class="modal-content ">

                <div class="modal-header">
                    <h4 class="modal-title">Problem Statements</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sr no</th>
                                <th>Problem Statement</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Energy Efficiency in Smart Homes:</td>
                                <td>Develop solutions that optimize energy consumption in smart homes through
                                    intelligent automation, considering factors such as occupancy, weather, and user
                                    preferences.</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Autonomous Vehicle Security:</td>
                                <td>Address the security challenges associated with autonomous vehicles, ensuring robust
                                    protection against cyber threats and unauthorized access.
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Smart City Traffic Management:
                                </td>
                                <td>Propose innovative approaches to optimize traffic flow in smart cities using
                                    automation, real-time data analytics, and intelligent transportation systems.
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Industrial Automation for Sustainability:
                                </td>
                                <td>Implement automation technologies in industries to enhance sustainability practices,
                                    reduce waste, and minimize environmental impact.
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Intelligent Resource Allocation in Agriculture:
                                </td>
                                <td>Develop systems that use artificial intelligence to optimize resource allocation in
                                    agriculture, ensuring efficient use of water, fertilizers, and other inputs.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>


    </div>




    <main id="main" style="background-color: #010818">

        <!-- ======= About Section ======= -->
        <!-- End About Section -->


        <!-- <footer class="bg-dark text-center text-white " style="background-color: #010818">
            <div class=" p-4 pb-0" style="background-color: #010818">
                <section class="mb-0" style="background-color: #010818">

                    <div class="row pt-4">
                        <div class="col-sm-6 col-md-3 pb-4">
                            <h4 class="mb-4 text-light">
                                Services
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" class="text-light">Home</a>
                                </li>
                                <li>
                                    <a href="#speakers" class="text-light">Event</a>
                                </li>
                                <li>
                                    <a href="#heros" class="text-light">Hackathon</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 pb-4">
                            <h4 class="mb-4 text-light">
                                Location
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-light">Goverment Polytechnic, Nagpur</a>
                                </li>
                                <li>
                                    <a class="text-light">Sadar, Nagpur</a>
                                </li>
                                <li>
                                    <a class="text-light">Mob. 8421689721</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 pb-4">
                            <h4 class="mb-4 text-light">
                                Enkryptia
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-light">Our event, Enkryptia, has been a part of our academic and
                                        <br> innovation
                                        calendar for the past 13 years</a>
                                </li>
                                <li>
                                    <a class="text-light">and it continues to thrive as a platform for fostering
                                        innovation,<br>
                                        collaboration, and problem-solving</a>
                                </li>
                                <br /><br />
                                <li>
                                    <a href="https://www.linkedin.com/in/rajat-petkar-515416223/"
                                        class="text-light mine">Developed by -
                                        Rajat Petkar</a>
                                    <a href="https://www.linkedin.com/in/rajat-petkar-515416223/"
                                        class="text-light mine">Developed by -
                                        Ram Rajurkar</a>
                                    <a href="https://www.linkedin.com/in/rajat-petkar-515416223/"
                                        class="text-light mine">Developed by -
                                        Shreeharsh Shivpuje</a>
                                </li>
                            </ul>
                        </div>
                </section>
            </div>

            <div class="text-center p-3" style="background-color: #000000">
                © 2023 Copyright
                <a class="text-white" href="https://mdbootstrap.com/"> Enkryptia</a>
            </div>
        </footer> -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="meet-timing">Contact Information</h5>
                        <p>
                            <strong>Email:</strong> <a href="mailto:enkryptia@gmail.com"
                                class="text-light">enkryptia@gmail.com</a><br>
                            <strong>Phone:</strong> <a href="tel:+918625067058" class="text-light">+918625067058</a><br>
                            <strong>Address:</strong> Goverment Polytechnic, Sadar, Nagpur
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h5 class="meet-timing">About Us</h5>
                        <p>Our event, Enkryptia, has been a part of our academic and
                            <br> innovation
                            calendar for the past 13 years and it continues to thrive as a platform for fostering
                            innovation,<br>
                            collaboration, and problem-solving
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h5 class="meet-timing">Our Events</h5>
                        <ul class="list-unstyled">
                            <li>Hackathon</li>
                            <li>MUN <br></li>
                            <li>GPTL</li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col text-center">
                        <h5>Meet Our Creators</h5>
                        <div class="creator-links">
                            <a href="https://www.linkedin.com/in/rajat-petkar-515416223/" target="_blank"
                                class="creator text-light" style="color: #46afeb;">Rajat Petkar</a>
                            <a href="https://www.linkedin.com/in/shreeharsh-shivpuje-95a397207" target="_blank"
                                class="creator text-light" style="color: #46afeb;">Shreeharsh Shivpuje</a>
                            <a href="https://www.linkedin.com/in/ram-rajurkar-647b90258?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                target="_blank" class="creator text-light" style="color: #46afeb;">Ram Rajurkar</a>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col text-center">
                        <h5>Connect with Us</h5>
                        <div class="button-container">

                            <div class="glass-btn blue-btn">
                                <!--<div class="content">
                                h
                              </div> -->
                                <a href="mailto:enkryptia@gmail.com" style="width: auto; height: auto;">
                                    <img src="{% static 'assets\img\mail.png' %}" alt="facebook" style="width: 2.6em;">

                                </a>
                            </div>

                            <div class="glass-btn red-btn">
                                <!-- <div class="content">
                                e
                              </div> -->
                                <a href="https://youtube.com/@enkryptia?si=Bks13otPUu2fqxH_"
                                    style="width: auto; height: auto;">
                                    <img src="https://i.postimg.cc/LstJ4Hhf/youtube.png" alt="youtube"
                                        style="width: 6em;">
                                </a>
                            </div>

                            <div class="glass-btn amber-btn">
                                <!-- <div class="content">
                                y
                              </div> -->
                                <a href="https://www.instagram.com/enkryptia?igsh=MTR6eGF5OHg3c3FweA=="
                                    style="width: auto; height: auto;">
                                    <img src="{% static 'assets\img\insta.png' %}" alt="soundcloud"
                                        style="width: 3.5em;">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="footer-bottom text-center mt-4">
                    <p>&copy; 2024 <span class="text-light">Enkryptia</span>
                        . All rights reserved.</p>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="script.js"></script>
        <script>
            // Functionality to alert on service links click
            const serviceLinks = document.querySelectorAll('.service-link');

            serviceLinks.forEach(link => {
                link.addEventListener('click', (event) => {
                    event.preventDefault(); // Prevent the default anchor behavior
                    alert(`You clicked on: ${link.textContent}`);
                });
            });

            // Optional: Add any other interactivity you desire

        </script>
    </main>
    </div>
</body>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</html>